# 1. O COMANDO MESTRE: Ignorar TUDO por padrão
*
# 2. Exceção: Não ignorar pastas (para o git poder entrar nelas e procurar os .py)
!*/
# 3. Exceção: Não ignorar arquivos Python (.py) onde quer que estejam
!*.py
# 4. Exceção: Não ignorar a pasta icones e tudo que tem dentro dela
!icones/
!icones/**
# 5. Exceção: Não ignorar o próprio arquivo .gitignore (bom para manter as regras salvas)
!ReadMe
!.gitignore
# 6. Garantia extra: Bloquear pastas específicas de sistema/IDE (caso a regra 2 tenha liberado)
.idea/
__pycache__/
venv/
miktex/
recents.json
spell_config.json