# 1. O COMANDO MESTRE: Ignorar TUDO por padrão
*

# 2. EXCEÇÕES: O que DEVE ir para o Git
!*/
!*.py
!*.spec
!*.bat
!requirements.txt
!README.md
!.gitignore

# 3. EXCEÇÃO DE PASTAS DE ATIVOS
!icones/
!icones/**

# 4. BLOQUEIOS ESPECÍFICOS (Garantia de limpeza)
# Ignorar pastas de sistema e IDE
.idea/
__pycache__/
venv/
.vscode/
icones/_gerar_icones.py
icones/icone.py

# Ignorar pastas de compilação e saída (Build)
build/
dist/
bin/
release/

# Ignorar arquivos de configuração e dados locais
config/
miktex/
recents.json
spell_config.json
*.log